* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(162, 167, 167);
}

body {
    background-color: rgb(51, 51, 71);
}

header {
  background-color: blue;
  padding: 20px;
  color: white;
  background-color: rgb(68, 71, 88);
}

.container {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logout img {
    width: 20px;
    margin-right: 10px;
    margin-right: 30px;
    
}

.nome {
    font-size: 17px;
    color: rgb(173, 171, 171);
    margin-left: 45px;
    margin-bottom: -14px;
}

.profissao {
    font-size: 18px;
    color: aqua;
}

.avatar img {
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    border: 5px solid rgb(9, 185, 162);
}


.cadastros {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    
}

.cadastrar {
    margin-left: 20px;

    
}

.cadastrar a {
    text-decoration-line: none;
    color: aqua;
}

.cadastros a {
    text-decoration-line: none;
}

a {
    font-size: 20px;
}

.usuarioscadastrados a {
    color: gray;
}


/*teste do estilo do form abaixo*/

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha os campos à esquerda */
  margin-left: 50px;
  margin-top: 50px;
  background-color: rgb(59, 64, 78);
  max-width: 320px;
    max-height: auto;
  padding: 50px; 
  margin-bottom: 10px;
  border-radius: 10px;
}

.formulario input, .formulario textarea {
  width: 200px; /* Defina a largura desejada */
  margin-bottom: 10px;
}

.voltarBtn {
    margin-bottom: 40px;
    margin-left: 60px;
    width: 80px;
    height: 30px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    border: transparent;

}

.titleCadastro {
    display: flex;
    justify-content: center;
    color: gray;
}

.titleCadastro h1 {
    font-size: 20px;
    margin-bottom: 20px;
}


input {
    height: 25px;
}


.btnCadastrar {
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
}